<!-- <p>{{this.task | json}}</p> -->

<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTaskname">Name</label>
        <input [(ngModel)]="task.name" type="text" class="form-control" id="inputtaskname" name="name" placeholder="task name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputtaskproject">Project(placeholder)</label>
        <input [(ngModel)]="task.project.id" type="number" class="form-control" id="inputtaskproject" name="project.id">
      </div>
      <div class="form-group col-md-6">
        <label for="inputTaskname">Expected duration</label>
        <input [(ngModel)]="task.duration" type="time" class="form-control" id="inputtaskname" name="duration" placeholder="task name">
      </div>
    </div>
    <!--The datadissmiss modal makes this button dismiss the modal it is embedded in. might cause issues if the task form is nested in the project form.-->
    <button type="submit" (click)="save(); clear()" class="btn btn-primary" data-dismiss="modal">Save</button>
</form>
