.nav-spacer {
    flex: 1 1 auto;
}

button, a {
    margin-left: 10px;
    margin-right: 10px;
}

mat-slide-toggle {
    margin-right: 10px;
    padding:5px;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}