<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pie Productivity</span>
    <button routerLink="/home" mat-button aria-label="navigate to homepage">Home</button>
    <button routerLink="/select" mat-button [disabled]="!isLogin"  aria-label="navigate to project selector">Select</button>
    <button routerLink="/list" mat-button [disabled]="!isLogin" aria-label="navigate to lists">Lists</button>
    <span class="nav-spacer"></span>
    <mat-icon >wb_sunny</mat-icon>
    <mat-slide-toggle [checked]="!isDarkTheme" (change)="toggleDarkTheme($event.checked)">  
      <mat-icon >nights_stay</mat-icon>
    </mat-slide-toggle> 
    <app-user-login></app-user-login>
  </mat-toolbar-row>
</mat-toolbar>