<table mat-table [dataSource]="tasks">
  <!--Column ordering irrelevant dont forget to add them to displayedColumns-->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let task"> 
      
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Click for details
                <mat-panel-description>
                  {{task.name}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{task.name}}{{task.duration}}</p>
              
            </mat-expansion-panel>
          </mat-accordion>
    
    </td>
  </ng-container>



  <!-- <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let task"> {{task.name}} </td>
  </ng-container>
  <ng-container matColumnDef="deadline">
    <th mat-header-cell *matHeaderCellDef> Deadline </th>
    <td mat-cell *matCellDef="let task"> {{task.name}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
