<div mat-dialog-content>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JSON Contents
                </mat-panel-title>
                <mat-panel-description>
                    Click to see the form's JSON
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{data.user | json}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="number" [(ngModel)]="data.user" name="username">
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label>Password (placeholder)</mat-label>
            <input matInput type="password" name="password">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="data.user">Save</button>
</div>