<div mat-dialog-content>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JSON Contents
                </mat-panel-title>
                <mat-panel-description>
                    Click to see the form's JSON
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{data.user | json}} {{data.passwordCheck | json}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="data.user.username" name="username" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="data.user.password" name="password" required>
        </mat-form-field>
        <div *ngIf="data.origin=='register'">
            <mat-form-field appearance="standard" >
                <mat-label>Repeat password</mat-label>
                <input matInput type="password" [(ngModel)]="data.passwordCheck" name="password" required>
            </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label>Project</mat-label>
            <input matInput type="number" [(ngModel)]="data.user.project" name="projectAccesID" required>
        </mat-form-field>
            <p class="mat-caption" *ngIf="data.user.password != data.passwordCheck">The entered passwords do not match</p>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <div *ngIf="data.origin=='login'">
        <button mat-button color="primary" [mat-dialog-close]="data.user">Save</button>
    </div>
    <div *ngIf="data.origin=='register'">
        <button mat-button color="primary" [mat-dialog-close]="data.user" *ngIf="data.user.password == data.passwordCheck">Save</button>
        <button mat-button disabled *ngIf="data.user.password != data.passwordCheck">Save</button>
    </div>
</div>