<div mat-dialog-content>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="data.user.username" name="username" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="data.user.password" name="password" required>
        </mat-form-field>
        <div *ngIf="data.origin=='register'">
            <mat-form-field appearance="standard" >
                <mat-label>Repeat password</mat-label>
                <input matInput type="password" [(ngModel)]="data.passwordCheck" name="password" required>
            </mat-form-field>
            <p class="mat-caption" *ngIf="data.user.password != data.passwordCheck">The entered passwords do not match</p>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" mat-dialog-close>Cancel</button>
    <div *ngIf="data.origin=='login'">
        <ng-container *ngIf="data.user.username != null
        && data.user.password != null">
        <button mat-flat-button color="primary" [mat-dialog-close]="data.user">Login</button>
    </ng-container>
    <ng-container *ngIf="data.user.username == null
    || data.user.password == null">
        <!-- <button mat-button color="primary" disabled>Save</button> -->
        <button mat-flat-button color="primary" (click)="validateLogin()">Login</button>
    </ng-container>
    </div>



    <div *ngIf="data.origin=='register'">
        <ng-container *ngIf="data.user.username != null
    && data.user.password != null
    && data.passwordCheck != null
    && data.passwordCheck == data.user.password">
            <button mat-button color="primary" [mat-dialog-close]="data.user" >Register</button>
        </ng-container>
        <ng-container *ngIf="data.user.username == null
    || data.user.password == null
    || data.passwordCheck == null
    || data.passwordCheck != data.user.password">
            <button mat-button color="primary" (click)="validateRegistration()">Register</button>
        </ng-container>
    </div>

</div>