<div mat-dialog-content>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JSON Contents
                </mat-panel-title>
                <mat-panel-description>
                    Click to see the form's JSON
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{data.projectEdit | json}}</p>
        </mat-expansion-panel>
    </mat-accordion>
    
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="data.projectEdit.projectName" name="projectName">
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label>Duration</mat-label>
            <input matInput type="time" [(ngModel)]="data.projectEdit.duration" name="duration">
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label for="inputprojectdeadline">Deadline</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="data.projectEdit.deadline" name="deadline" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="data.projectEdit">Save</button>
</div>