<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <app-toolbar></app-toolbar>
  
  <!--Site body-->
  
  <router-outlet></router-outlet>
  
  <mat-card id="UserComponent">
    <!--user selection-->
    <!-- app-user-form></app-user-form -->
    <app-user-list [appGlobal]="this"></app-user-list>
    <!--p>boven userlist: user project = {{projectIdUser}}</p-->
  </mat-card>
  
  <!-- end of Site body--> 
  
  <!-- Footer -->
  <footer>
    <mat-toolbar color="primary" role="footer">
      <p class="mat-body">The Pie Productivity Project</p>
      <span class="nav-spacer"></span>
      <p class="mat-small">Copyright information here.</p>
    </mat-toolbar>
  </footer>
  <!-- Footer -->
</div>

