 .nav-icon {
    padding: 0 14px;
}

.nav-spacer {
    flex: 1 1 auto;
}

button {
    margin-right: 10px;
}

mat-slide-toggle {
    margin-right: 10px;
    padding:5px;
}


.mat-toolbar.mat-primary{
    height: 60px;
}


