@import '~@angular/material/theming';
@include mat-core();

$light-primary: mat-palette($mat-amber, 700);
$light-accent:  mat-palette($mat-indigo);
$light-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);

$dark-primary: mat-palette($mat-indigo, 900);
$dark-accent:  mat-palette($mat-amber, 900);
$dark-warn:    mat-palette($mat-red);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark-theme {
  @include angular-material-theme($dark-theme);

}


.light-theme {
  @include angular-material-theme($light-theme);
}

