<form >
  <mat-form-field>
    <mat-label>Project</mat-label>
    <mat-select [(value)]="this.projectNumber">
        <mat-option *ngFor="let project of filteredProjects" [(value)]="project.id" >
          {{project.projectName}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Time window</mat-label>
    <mat-select [(value)]="this.timeWindow">
      <mat-option value="100">None</mat-option>
      <mat-option value="5">5 min.</mat-option>
      <mat-option value="10">10 min.</mat-option>
      <mat-option value="15">15 min.</mat-option>
      <mat-option value="30">30 min.</mat-option>
      <mat-option value="45">45 min.</mat-option>
      <mat-option value="60">60 min.</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)= "clear()">Select</button>
  <button mat-raised-button color="primary" (click)= "delete()">Clear</button>
  <!-- <mat-list>
    <mat-list-item *ngFor="let task of important">
      <h3 matLine> {{task.name}} </h3>
      <h3 matLine> {{task.project.id}} </h3>
      <h3 matLine> {{task.deadline}} </h3>
    </mat-list-item>
  </mat-list> -->
</form>




