<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        JSON received
      </mat-panel-title>
      <mat-panel-description>
        Click to see the received JSON
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{this.tasks | json}}</p>
  </mat-expansion-panel>
</mat-accordion>

<table mat-table [dataSource]="tasks" class="mat-elevation-z8">
  <!--Column ordering irrelevant dont forget to add them to displayedColumns-->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let task"> {{task.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let task"> {{task.name}} </td>
  </ng-container>
  <ng-container matColumnDef="project.id">
    <th mat-header-cell *matHeaderCellDef> Project ID </th>
    <td mat-cell *matCellDef="let task"> {{task.project.id}} </td>
  </ng-container>
  <ng-container matColumnDef="project.projectName">
    <th mat-header-cell *matHeaderCellDef> Project Name </th>
    <td mat-cell *matCellDef="let task"> {{task.project.projectName}} </td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let task"> {{task.duration}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let task"> {{task.description}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let task">
      <button mat-raised-button color="primary" (click)="editTask(task)">Edit</button>        
      <button mat-raised-button color="warn" (click)="delete(task.id)">Del</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>