<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        JSON received
      </mat-panel-title>
      <mat-panel-description>
        Click to see the received JSON
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{this.tasks | json}}</p>
  </mat-expansion-panel>
</mat-accordion>


<!-- >
<p>project id = {{userIdProject}}</p>
< -->





  <!-- >
    <p>{{this.selectedTasks | json}}</p>
    < -->



<button (click)="selectTasks(userIdProject)">select</button>


<table mat-table [dataSource]="selectedTasks" class="mat-elevation-z8">
  <!--Column ordering irrelevant dont forget to add them to displayedColumns-->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell >{{task.id}} </td></ng-container> 
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell>{{task.name}} <!-- /ng-container --></td></ng-container> 
  </ng-container>
  <ng-container matColumnDef="project.id">
    <th mat-header-cell *matHeaderCellDef> Project ID </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell >{{task.project.id}} <!-- /ng-container --></td></ng-container> 
  </ng-container>
  <ng-container matColumnDef="project.projectName">
    <th mat-header-cell *matHeaderCellDef> Project Name </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell > {{task.project.projectName}} <!-- /ng-container --></td></ng-container> 
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell>{{task.duration}} <!-- /ng-container --></td></ng-container> 
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell>{{task.description}} <!-- /ng-container --></td></ng-container> 
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell>{{task.status}} <!-- /ng-container --></td></ng-container> 
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <ng-container *matCellDef="let task of selectedTasks">
    <td mat-cell>
      <ng-container *ngIf="task.status == 'New'">
      <button mat-raised-button color="accent" (click)="startTask(task)">Start</button>
      </ng-container>
      <ng-container *ngIf="task.status == 'Started'">
      <button mat-raised-button color="accent" (click)="closeTask(task)">Close</button>
      </ng-container>
      <button mat-raised-button color="primary" (click)="editTask(task)">Edit</button>        
      <button mat-raised-button color="warn" (click)="delete(task.id)">Del</button>
      <!-- /ng-container -->
    </td></ng-container> 
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

