.cdk-overlay-container{
  z-index:2000;
}

.top-toolbar{
  height:60px
}

.basic-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: calc(100vh - 185px);
}

.center {
  text-align: center;
}

body{
  margin: 0px;
}

router-outlet{
  margin: 0px;
}

button {
  margin-right: 10px;
}

mat-slide-toggle {
  margin-right: 10px;
  padding:5px;
}

footer {
  z-index:1000;
  bottom:0;
  width: 100%;
  overflow: hidden;
}

.footerClass{
  bottom: 0px;
  
}

